
<!-- <h1 mat-dialog-title>Add supplierForm </h1> -->


<mat-toolbar>
    <span>{{supplierForm.controls['id'].value?"Modify Supplier":"New Supplier"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <div style="margin-top: 20px;"></div>
  <div mat-dialog-content class="example-container">
      <form [formGroup]="supplierForm">
        <div>
  
           <!--<mat-form-field class="example-full-width"  appearance="fill">
     
              <mat-label>Name</mat-label>
              <input matInput formControlName="SupplierName">
            </mat-form-field> -->
  
            <mat-form-field>
              <input formControlName="SupplierName" matInput placeholder="Supplier Name">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
  
  
            <mat-form-field>
              
                <textarea matInput formControlName="SupplierAddress"  placeholder="Supplier Address"></textarea>
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
  
  
            
            <!-- <mat-form-field  class="example-full-width" appearance="fill">
              <mat-label>address</mat-label>
              <textarea matInput formControlName="SupplierAddress"></textarea>
            </mat-form-field> -->
  
           
  
  
            <!-- <mat-form-field class="example-full-width" appearance="fill">
     
              <mat-label>name</mat-label>
              <input matInput formControlName="ContactName">
            </mat-form-field> -->
  
            <mat-form-field>
              <input formControlName="ContactName" matInput placeholder="Contact Name">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
  
          
  
           
          </div>
          <div>
  
            <mat-form-field>
              <input formControlName="ContactNumber" matInput placeholder="Contact Number">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width" appearance="fill">
     
              <mat-label>number</mat-label>
              <input matInput formControlName="ContactNumber">
            </mat-form-field> -->
  
         
  
  
            <!-- <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" formControlName="ContactEmail">
            </mat-form-field> -->
  
            <mat-form-field>
              <input formControlName="ContactEmail" matInput placeholder="Contact Email">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
  
            <!-- <mat-form-field class="example-full-width"  appearance="fill">
             <mat-label>GST</mat-label>
              <input matInput formControlName="GSTNumber">
            </mat-form-field> -->
  
            <mat-form-field>
              <input formControlName="GSTNumber" matInput placeholder="GST Number">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
  
  
  
          </div>
      </form>
      
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>close</button>
    <button  style="margin-left: 8px;" mat-raised-button color="primary" (click)="addSupplier()">{{actionBtn}}</button>
  </div>
  